@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}

.background-image
{
  background: url('./components/background.jpg') no-repeat center center fixed;
  height: 100vh;
  /* background-image: url() no-repeat center center fixed; */
  background-size: cover;
}

.subscribe-me
{
  border: 1px white solid;
  width: 150px;
  border-radius: 50px;
  
}

.title-header
{
  margin-top: 10%;
  font-size: 80px;
}

.tagline
{
  font-size: 23px;
  border-bottom: 2px #EB3E3E solid; 
  width: fit-content; 
  text-align: center;
}

.underline
{
  height: 2px;
  width: 300px;
  background-color: #EB3E3E;
  text-align: center;
  /* border-bottom: 2px #EB3E3E solid; */
  /* width: fit-content; */
  /* text-align: center; */
}

.explore-blogs
{
  background-color: #EB3E3E;
  border: none;
  border-radius: 50px;
  color: white;
  padding: 5px 20px;
  font-size: 15px;
 
}

.quote-block
{
  background-color: #f3f3f3;
  height: 100px;
  
}